h1 { color: #fff; font-family: "Great Vibes", cursive; 
	font-size: 80px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 5px; 
	text-align: center; text-shadow: 0 1px 1px #fff; }